ansible==11.4.0
ansible-core==2.18.4
ansible-runner==2.4.1
beautifulsoup4==4.13.3
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
google-auth==2.38.0
google-crc32c==1.7.1
idna==3.10
Jinja2==3.1.6
lockfile==0.12.2
MarkupSafe==3.0.2
packaging==24.2
pexpect==4.9.0
ptyprocess==0.7.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
python-daemon==3.1.2
PyYAML==6.0.2
requests==2.32.3
resolvelib==1.0.1
rsa==4.9
setuptools==78.0.2
soupsieve==2.6
typing_extensions==4.13.0
urllib3==2.3.0
